
/* Global styles */
html, body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    }
    *, *:before, *:after {
    box-sizing: inherit;
    }
    /* enlever le style des listes */
    ul, ol {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    }
    /* corriger l’affichage des images */
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: black;
    background-color: rgb(228, 222, 222);
}
@font-face {
    font-family: 'Montserrat';
    src: url("../font/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face{
    font-family: "Open_sans";
    src: url("../font/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}
@font-face{
    font-family: "Poppins";
    src: url("../font/Poppins/Poppins-Regular.ttf") format(truetype);
    src: url("../font/Poppins/Poppins-Thin.ttf") format(truetype);
    src: url("../font/Poppins/Poppins-Bold.ttf") format(truetype);
}

/* Styles généraux */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 5px;
    font-family: "Open_sans"; 
    position: relative;
    
}

.navbar .logo img {
    height: 40px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 2px;
    
}

.menu a:hover {
    background-color: #555; 
}

/* Dropdown menu */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:  #00b300;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 4px;
}

.dropdown-menu a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    background-color: #555;
}

/* Afficher le sous-menu au survol */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Styles du menu burger */
.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.burger-menu span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s;
}

/* Effet du menu burger activé */
.burger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.burger-menu.active span:nth-child(2) {
    opacity: 0;
}

.burger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

/* Navbar */
.navbar {
   /* display: flex;
    justify-content: space-around;
    align-items: center;*/
    background-color: #00b300;
    position: fixed;
    z-index: 1000;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
   
}
.navbar a{
   /* text-decoration: none; 
    font-family: "Open_sans"; 
    font-size: 18px;*/
   /* color: white;
    background-color: #0000FF; /* Bleu pour contraster */
    border-radius: 1px;
    text-decoration: none;
   padding-right: 8px;
   padding-left: 8px;

}

.navbar a:hover {
     color: white; /* blanc pour l'effet hover */
    background-color: #0000FF; /* Bleu pour contraster */
    border-radius: 1px;
    text-decoration: none;
   padding-right: 8px;
   padding-left: 8px;
   
}
.navbar .logo img {
    width: 80px;
    height: 80px;
    margin-left: 0;
    margin-right: 0; 
    margin-top: -20px;
    margin-bottom: -20px;
}

/* Hero Section */
.hero {
    background-image: url(../img/image_accueil_super.jpeg);
    background-size: cover;
    text-align: center;
    padding: 350px 20px;
    background-color: #f4f4f4;
   background-repeat: no-repeat;
}
.hero-inscription{
    margin-top: 80px;
    margin-bottom: 0;
    background-size: cover;
    text-align: center;
    width: 100%;
    background-color: #f4f4f4;
   background-repeat: no-repeat;
   justify-content: center;
}

.hero, .hero-inscription {
   background-size: cover;
   background-position: center;
   position: relative;
   height: 200px;
 
}

.hero h1, .hero-inscription{
    font-size: 26px;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    border-radius: 8px;
    font-family: 'Poppins';
}

.search-bar {
    margin-top: 0;
    
}

.search-bar input {
    padding: 10px;
    width: 80%;
   
    border-radius: 5px;
    margin-right: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: 2px solid #ffd700;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover{
    background-color: #00b300;
}

/* Logements Section */
.logements, .family-homes, .pool-homes {
    text-align: center;
    padding: 30px 20px;
    
}

 /* Style pour chaque bloc */
 .logements,  img {
    flex: 1 1 calc(90%/3 - 5px); /* 3 colonnes avec un espace entre elles */
    margin: 0;
    padding: 0;
    text-align: center;
  }



.family-homes img:hover{
    transform: translateY(-10px);
}

.pool-homes img:hover{
    transform: translateY(-10px);
}

.pool-homes p, .family-homes p, .maison-duplex p{
    font-family: "Open_sans";
    font-size: 18px;
}


.logements h2, .family-homes h2, .pool-homes h2 {
    color: #0000FF;
    margin-bottom: 10px;
    font-family: "Motserrat";
    font-size: 30px;
   
}

 .logements a:hover{
    background-color:#00b300; 
}

.family-homes a:hover{
    background-color:#00b300;
}

.pool-homes a:hover{
    background-color:#00b300;    
}

.card-container a:hover{
    background-color:#00b300;     
}

.bienvenu p{
   text-align: center;
  margin-top: 20;
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Open_sans";
  font-size: 18px;
}

.bienvenuhote h2{
    text-align: left;
    margin-top: 20;
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Open_sans";
    font-size: 18px; 
    color: black;    
}

.card-container, .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.card-container a, .family-homes a, .pool-homes a, .logements a{
    text-decoration: none;
    color: #0000FF;;
}
.card, .gallery div {
    width: 400px;
    text-align: center; 
}

.card img, .gallery img {
    width: 100%;
    height: 80%;
    border-radius: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card p, .gallery p{
    font-family: "Open_sans";
    font-size: 18px;

}
h3{
    color: #0000FF;
    margin-top: 0;
    margin-bottom: 5px ;
    font-family: "Montserrat";
    font-size: 24px;
}

  .bouton-réserver button{
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    font-family: "Open_sans";
    border-radius: 15px;
    font-size: 20px;
    background-color:  #007bff;
}
.bouton-réserver {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.bouton-réserver a{
    color: #f4f4f4;
    text-decoration: none;
}

 .bouton-réserver button:hover{
    background-color:#00b300;
}

/* Footer Styles */
.footer {
    background-color: #00b300;
    color: white;
    font-family: "Open_sans";
    padding: 20px 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

/* Footer Logo */
.footer-logo {
    flex: 1 1 200px;
    text-align: left;
}

.footer-logo img {
    width: 80px;
    margin-bottom: 10px;
}

.footer-logo address {
    font-style: normal;
    line-height: 1.5;
    font-size: 18px;
}

/* Footer Contact */
.footer-contact {
    flex: 1 1 200px;
}

.footer-contact h4 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.footer-contact p {
    margin: 5px 0;
    font-size: 18px;
}

.footer-contact a {
    color: white;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}

/* Footer Links */
.footer-links {
    flex: 1 1 200px;
}

.footer-links h4 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 5px;
    font-size: 18px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Footer Social */
.footer-social {
    flex: 1 1 200px;
}

.footer-social h4 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.footer-social a {
    display: inline-block;
    margin-right: 10px;
}

.footer-social img {
    width: 24px;
    height: 24px;
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    background-color: #0000FF;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white; 
}

/* Section Contact */
.contact-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: #e0e0e0;
}

/* Informations de Contact */
.contact-info {
    flex: 1 1 40%;
    padding: 20px;
    min-width: 300px;
}

.contact-info h2 {
    font-size: 30px;
    color: #0000FF;
    font-family:"Montserrat";
}

.contact-info h3 {
    font-size: 24px;
    color: #0000FF;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 18px;
    margin-bottom: 10px;
    font-family:"Open_sans"; 
}


/* ma page contact */
/* Conteneur du formulaire */
.form-container {
    flex: 1 1 55%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

.input-group {
    flex: 1 1 48%;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size:18px;
}

.input-group input,
.input-group textarea {
    
    width: 100%;
    padding: 10px;
    border: 2px solid  #ffd700;
    border-radius: 5px;
    font-size: 16px;
}

.input-group textarea {
    resize: none;
}

/* Bouton Envoyer */
.btn-submit {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color:#00b300; 
}


/* Style pour les messages d'erreur */
.error-message {
    color: red;
    font-size: 0.85em;
    margin-top: 5px;
}

/* Style pour les champs avec des erreurs */
.error-border {
    border: 2px solid red;
    outline: none;
}


/* ma page devenez hôte */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.info-section {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.info-section p {
    font-size: 1.2rem;
    color: #0000FF;
    line-height: 1.6;
}

.form-section {
    flex: 1;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #0000FF;
    text-align: left;
}

.contact-form h4 {
    font-family: "Open_sans";
    font-size: 1rem;
    color: #00b300; 
    text-align: left;
}


.contact-form p {
    font-family: "Open_sans";
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: black;
    text-align: left;

}

.contact-form .form-group {
    display: flex;
    gap: 10px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid  #ffd700;
    border-radius: 4px;
    font-size: 1rem;
}

.contact-form textarea {
    resize: vertical;
    height: 100px;
}

.contact-form .checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.contact-form button {
    background:  #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background: #00b300; 
}


/* ma page s'inscrire*/
/* Conteneur principal */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Boîte du formulaire */
.register-box {
    margin-top: 0px;
    width: calc(100% - 800px); /* 400px de marge à gauche et à droite */
    max-width: 500px;
    background-color: #fff;
    border: 1px solid #ffd700;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* En-tête du formulaire */
.register-header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1px 5px;
    font-size: 1rem;
    border: 2px solid #ffd700;

}

.register-header span {
    margin-right: 8px;
}

/* Formulaire */
form {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}
.hoteform-group{
    width: 100%;
}



label {
    display: block;
 
    margin-bottom: 5px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid  #ffd700;
    border-radius: 4px;
}

input:focus {
    
    border-color: #007bff;
}

/* Bouton de création */
.register-button {
    width: 100%;
    padding: 10px;
    background-color:#007bff;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #00b300; 
}

/* ma page se connecter */
/* Conteneur principal */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: #f4f4f4;
    padding: 20px; 
    
}

/* Boîte du formulaire */
.login-box {
    width: calc(100% - 800px); /* 400px de marge à gauche et à droite */
    max-width: 500px;
    background-color: #fff;
    border: 1px solid #ffd700;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* En-tête du formulaire */
.login-header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1px 5px;
    font-size: 1rem;  
    border: 2px solid #ffd700;

}

.login-header span {
    margin-right: 8px;
}

/* Formulaire */
form {
    padding: 20px; 
    
}

.form-group {
    margin-bottom: 0px;
    margin-top: 3px;
    
}

label {
    display: block;
  
    margin-bottom: 5px;
    font-size: 16px;
    
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ffd700;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: #007bff;
    
}

/* Bouton de connexion */
.login-button {
    width: 100%;
    padding: 10px;
    background-color:#007bff;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color:#00b300; 
}

/* ma page reserver */
/* Conteneur principal */
.reservation-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #f4f4f4;
    padding: 20px;
    
}



/* Formulaire */
   form  {
   
    background-color: white;
    border: 2px solid #ffd700; /* Bordure dorée */
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Groupes de champs */
.form-group {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

.form-group label {
    font-size: 0.9rem;
    color: #007bff;
    margin-bottom: 5px;
    font-weight: bold;
    display: flex;
    align-items: center; 
}

.form-group label span {
    margin-right: 8px;
    font-size: 1.2rem;
}

/* Champs d'entrée */
input[type="text"],
input[type="date"] {
    padding: 10px;
    font-size: 0.9rem;
    border: 2px solid #ffd700;
    border-radius: 4px;
  /*  width: 100%; */
    margin-top: 5px;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

/* Sélecteur d'invités */
.guest-selector {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.guest-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.guest-row span {
    flex: 1;
    font-size: 0.9rem;
    color: #333;
}

.guest-row .btn {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

.guest-row .btn:hover {
    background-color: #007bff;
    color: white;
}

.guest-row input[type="number"] {
    width: 50px;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    background-color: #f9f9f9;
}

/* Bouton de recherche */
.search-button {
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    border: 2px solid #ffd700;
}

.search-button:hover {
    background-color: #00b300;
}

/* Ajustement des tailles */
.location {
    flex: 2;
}

.dates {
    flex: 3;
}

.guests {
    flex: 3;
}
.search-button {
    flex: 1;
    
}
   
/* style pour les textes legaux*/
.textlegaux{
    margin: 70px;
}

.textlegaux ul{
    list-style: disc;
} 
.textlegaux ol{
    list-style-type: lower-alpha;
}
.textlegaux h1{
   text-decoration:underline ;
}

/* style css de la page À propos */

/* Section d'introduction */
.intro-section {
    text-align: center;
}

.intro-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: blue;
}

.intro-section p {
    font-size: 20px;
    color: green;
}

/* Section principale (image et texte) */
.content-section {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px;
    background-color: #f8f9fa;
}

.content-grid {
    float: left;
    max-width: 45%;
    margin-left: 80px;
    margin-right: -50px;
}

.image-container img {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-container {
    color: #333;
}

.text-container h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: blue;
    text-align: center;
    margin-top: 20px;
}

.text-container p {
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
}

/* Section sur l'équipe */
.team-section {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.team-section h3 {
    font-size: 24px;
    color: blue;
    margin-bottom: 10px;
    margin-top: 5px;
}

.team-section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.team-leader {
    margin-top: 40px;
    text-align: center;
   
   
    

}

.team-leader img {
    max-width: 500px;
    padding: 20px;
    border-color: blue;
    float: right;
    margin-bottom: 30px;
    margin-left: 170px;
    box-shadow: 0 10px 10px blue;
    margin-right: 80px;
    

}

.team-leader p {
    font-size: 18px;
    font-weight: bold;
    margin-left: 150px;
    text-align: center;

}

/* Section sur les membres de l'équipe */
.support-section {
    padding: 70px;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.support-header h2 {
    font-size: 56px;
    margin-bottom: 10px;
}

.support-header p {
    font-size: 24px;
    margin-bottom: 20px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.team-card {
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    color: black;
}

.team-card img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-card h4 {
    font-size: 24px;
    margin-bottom: 5px;
}

.team-card p {
    font-size: 18px;
}

/* -------------------------------MEDIA QUERRY---------------------------------------*/
@media (max-width: 480px) {

    .support-header h2, .intro-section h2 {
        font-size: 24px;
    }

    .support-header p, .team-card p, .intro-section p {
        font-size: 16px;
    }

    .team-card h4 {
        font-size: 18px;
    }

    .team-card img {
        width: 150px;
        height: 150px;
    }
    .hero-inscription h1{
        margin-top: 40px;
        font-size: 18px;
        text-align: center;
    }
    
    .hero-inscription {
        margin-top: 130px;
    }
    
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color:#00b300;
        width: 30%;
        position: absolute;
        top: 30px;
        left: 0;
        padding: 10px 0;
    }

    .menu a {
        width: 100%;
        padding: 5px 0px;
    }

    .menu.active {
        display: flex;
    }

    .burger-menu {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        
    }
    .hero h1{
    font-size: 26px;
    }

    .card-container, .gallery {
        flex-direction: column;
        align-items: center;
    }

    .search-bar input {
        width: 90%;
    }

    .bienvenu p{
        display: flex;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    
     }
     .container {
        flex-direction: column;
        text-align: center;
      }
     .footer-content {
        flex-direction: column;
        align-items: center;
       
    }
    .footer-logo, .footer-contact, .footer-links, .footer-social {
        text-align: center;
    }
    .contact-section {
        flex-direction: column;
        padding: 10px;
    }

    .input-group {
        flex: 1 1 100%;
    }

    .btn-submit {
        font-size:18px;
    }

    .content-section {
        flex-direction: column;
        align-items: center;
    }

    .text-container h3, .team-section h3 {
        font-size: 20px;
    }

    .team-card img {
        width: 200px;
        height: 200px;
    }

    .support-header h2 {
        font-size: 36px;
    }

    .support-header p, .text-container p {
        font-size: 18px;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .info-section {
        text-align: center;
    }

    .form-section {
        width: 100%;
    }

    .hero-inscription h1{
        margin-top: 40px;
        font-size: 20px;
        text-align: center;
    }
    
    .hero-inscription {
        margin-top: 130px;
    }
    .hero h1{
        font-size: 20px;
       margin-top: 0;
       padding-top: 0;
    }

}

@media (max-width: 1200px) {
    .register-box {
        width: 100%; /* Pas de marge fixe */
        margin: 0 10px;
    }

    .content-grid {
        max-width: 100%;
        margin: 0;
        float: none;
    }

    .team-leader img {
        margin-left: 0;
        float: none;
        max-width: 100%;
    }

    .team-leader p {
        margin-left: 0;
    }

    .login-box {
        width: 100%; /* Pas de marge fixe */
        margin: 0 10px;
    }
}